<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Webiste Bootcamp</title>
  </head>
  <body>
    <%- include('./partials/hero.ejs') %>

    <!-- Trusted -->
    <%- include('./partials/trusted.ejs') %>
    <!-- End Trusted -->

    <!-- Features -->
    <%- include('./partials/features.ejs') %>
    <!-- End Features -->

    <!-- Roadmap -->
    <%- include('./partials/roadmap.ejs') %>
    <!-- End Roadmap -->

    <!-- Pricing -->
    <%- include('./partials/pricing.ejs') %>
    <!-- End Pricing -->

    <!-- Testimonial -->
    <%- include('./partials/testimonial.ejs') %>
    <!-- End Testimonial -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- End Footer -->
  </body>
</html>
